<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/htmx.js"></script>
  <script src="/static/js/main.js"></script>
  <link rel="stylesheet" href="/static/css/output.css">
  <title>URL Shortener</title>
</head>

<body hx-boost="true">
  <main
    class="flex min-h-screen flex-col items-center gap-8 bg-slate-950 py-16 px-4 font-sans text-slate-300 text-sm md:text-base">
    {% block content %}{% endblock %}
  </main>
</body>

</html>